.wall {
    background-color: white;
}

.nav {
    background-color: whitesmoke;
    width: 100%;
    padding: 1rem;
    border-color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
}

.nav-bar {
    justify-items: center;
}

.user-bar {
    background-color: whitesmoke;
    width: 1rem;
    top: 7rem;
    left: 2rem;
    position: fixed;
}

.community-bar {
    background-color: whitesmoke;
    width: 1rem;
    top: 7rem;
    right: 10rem;
    position: fixed;
}

button {
    width: 10rem;
    height: 3rem;
    font-size: 12px;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    display: inline-block;
    text-align: justify;
    transition-duration: 0.3s;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(197, 197, 197);
}